@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import "tailwindcss";
/* src/index.css 또는 App.css 등에 추가 */
@keyframes appearAndPop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(2);
  }
}

.appear-animation {
  /* 애니메이션이 끝난 후 마지막 상태를 유지합니다. */
  animation: appearAndPop 0.5s ease-out forwards;
}

.character-pin {
    /* 캐릭터 아이콘의 기본 스타일입니다. 크기나 테두리는 여기서 조절하세요. */
    width: 56px; /* 12 * 4 = 48px */
    height: 56px; /* 12 * 4 = 48px */
    border-radius: 9999px; /* 원형 */
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

:root {
  font-family: "Pretendard Variable", Pretendard, system-ui, Avenir, Helvetica,
    Arial, sans-serif;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide {
  scrollbar-width: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
